#profile-img {
  max-width: 100%;
}

.about {
  background-color: var(--color-light-beige);
  padding: 20px;
  text-align: center;
}

.about > * {
  max-width: 400px;
  margin: 20px auto;
}

.about h1,
p {
  margin-bottom: 20px;
}

.about-btn {
  display: inline-block;
}

.disclaimer {
  background-color: var(--color-light-pink);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  text-align: center;
  position: relative;
  margin: 30px auto;
}

.disclaimer > * {
  position: absolute;
  padding-top: 50px;
  font-style: italic;
}

.disclaimer-container h2 {
  padding-bottom: 10px;
  font-family: "Lora", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.about_social-media {
  text-align: center;
}

.about-icon{
  border-right: 1px solid var(--color-light-black);
  padding-right: 10px;
}
