.blog-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blog-cover__text {
  background-color: white;
  padding: 10px;
  order: 2;
}

.blog-cover__text > * {
  max-width: 270px;
  padding: 10px;
}

.blog-cover__img {
  width: 100%;
  order: 1;
}

.separator__img {
  display: none;
}

.separator{
  margin: 20px 50px;
  display:flex;
  justify-content: center;
}

.separator-container {
  width: 200px;
  height: 40px;
  background-image: url("../images/separator.jpg");
}

.separator2, .separator3, .separator4, .separator5{
  display:none;
}