/** @format */

.landing-page {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.first-post {
  background-color: var(--color-beige);
  padding: 40px;
  text-align: center;
  margin: 20px 0px;
  order: 3;
}

.first-post h2 {
  font-weight: 400;
}

.first-post p {
  max-width: 250px;
  padding: 20px 0px;
  margin: auto;
}

.first-post img {
  padding-top: 20px;
  height: 200px;
  width: 200px;
}

.second-post {
  background-color: var(--color-light-beige);
  padding: 40px;
  order: 4;
}

.second-post p {
  max-width: 250px;
  padding: 20px 0px;
}

.post {
  text-align: center;
  margin: 10px auto;
  max-width: 200px;
  order: 2;
}

.post img,
.post-img {
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
}

.post h2 {
  background-color: #d1dfe8;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

/** Latest posts **/
.latest-post {
  text-align: center;
  font-family: "Montserrat";
  margin: 60px 30px;
}

.latest-post h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.latest-post-title {
  font-size: 16px;
  margin: 10px;
  color: var(--color-blue);
}

.viewport-container {
  display: flex;
  align-items: center;
  width: 250px;
  margin: 30px auto;
}

.viewport-container i {
  color: var(--color-blue);
}

.viewport {
  width: 190px;
  height: 400px;
  overflow: hidden;
  margin: 0px auto;
}

.latest-post__container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 10px auto;
}

.general-post {
  width: 190px;
  height: 300px;
  text-align: left;
}

.general-post h3 {
  text-transform: uppercase;
  margin: 10px 0px;
  font-size: 16px;
  max-width: 200px;
}

.category-title {
  color: var(--color-dark-blue);
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 5px;
}

.general-post h4 {
  font-weight: 400;
}

/** all post **/
.explore-all-post {
  text-align: center;
  margin-top: 40px;
  padding-top: 110px;
  background-image: url("../images/background-posts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

.explore-all-post h2 {
  font-size: 22px;
  margin-bottom: 30px;
  color: var(--color-light-black);
  letter-spacing: 1px;
}

.all-post-btn {
  color: var(--color-light-black);
  border: 2px solid var(--color-light-black);
  padding: 10px 20px;
  font-weight: 600;
  background-color: transparent;
  text-transform: uppercase;
}

.all-post-btn:hover {
  background-color: var(--color-light-black);
  color: white;
}

/** Categories **/

.categories {
  margin: 50px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories h2 {
  font-family: "Great Vibes";
  font-size: 40px;
  margin-bottom: 20px;
}

.polaroid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 1px 1px 9px gray;
  padding: 20px 15px 30px 15px;
  max-width: 150px;
  margin-bottom: 30px;
}

.category-img {
  width: 150px;
  height: 150px;
}

.category-btn {
  border: 6px double white;
  color: white;
  text-transform: uppercase;
  padding: 10px 12px;
  font-size: 14px;
  background-color: var(--color-blue);
}
