:root {
    --color-light-white: #FCFCFC;
    --color-light-beige: #F5F3E7;
    --color-beige: #E8D9C7; /* only on the main page, small article*/
    --color-dark-beige: #E7CBA9;
    --color-light-black: #363434;
    --color-light-blue: #D1DFE8;
    --color-blue: #1D76A2;
    --color-dark-blue: #03496C;
    --color-light-pink: #EDE1E3;

  }
  